<div *ngIf="gameOn; else elseBlock" class="container">
<h1>Turno del jugador: {{player}}</h1>

<button mat-raised-button color="primary" (click)="newGame()">Comenzar nuevo juego</button>

<h2 *ngIf="winner"> El jugador {{winner}} gano el juego! </h2>


<main>
  <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)">

  </app-square>
</main>

</div>

<ng-template #elseBlock>
  <div class="container__start">
    <button mat-raised-button color="primary" class="btn__iniciar" (click)="startGame()"> Iniciar juego</button>
  </div>

</ng-template>
