.container{
text-align: center;
}
app-square{
margin: 3px;
  height: 200px;
}

main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
  justify-content: center;
  margin-top: 2em;
}
.btn__iniciar{
  margin: auto;
}

.container__start{
  height: 90vh;
  display: flex;
}
.btn__iniciar{
  margin: auto;
  font-size: 20px;
}
