<div mat-dialog-content class="mat-typography" align="center">
<h3> {{message}}</h3>
<h4>¿Desea terminar el juego o iniciar otro juego?</h4>
  </div>
  <mat-dialog-actions align="center">
    <button mat-button (click)="onClickNo()">Terminar partida</button>
    <button mat-button [mat-dialog-close]="true">Iniciar otra patida</button>

  </mat-dialog-actions>
