
<button *ngIf="!value">{{ value }}</button>
<button mat-raised-button color="primary" hero status="success" *ngIf="value == 'X'">{{ value }}</button>
<button mat-raised-button color="primary" hero status="info" *ngIf="value == 'O'">{{ value }}</button>
